@using Meeting.Web.Api.Models
@using Meeting.Common
@model ResourcesView
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";      
    }
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/lhgdialog/lhgdialog.min.js"></script>
<script src="~/Scripts/lhgdialog/jquery.dialog.plugin.js"></script>

    <div class="layou-info-top">
        <font class="layou-info-font">文本材料</font>
    </div>

    <ul class="material-ul">
        @foreach (var item in Model.Text)
        {
            item.ResourcesName=item.ResourcesName + item.ResourcesType;
            string texturl = "/MeetingInfo/MaterialVide?ResourcesType=" + item.ResourcesType +
                "&Directory=" + item.Directory + "&ResourceName=" + item.ResourcesName + "&MeetingId="+item.MeetingIssueId;
            <li class="material-ul-li">
                <div class="material-li-img" onclick="clickUrl('@texturl')">
                    <img src="@Helper.GetImageUrl(item.ResourcesType)" />
                  
                </div>
                <span style="display:block">@(item.ResourcesName)</span>
                <div class="home-li-btnDel" onclick="btnDel('@item.Id','@item.Directory','@item.ResourcesName')">删除</div>
            </li>
        }
    </ul>


    <div class="layou-info-top">
        <font class="layou-info-font">多媒体材料</font>
    </div>

    <ul class="material-ul">
        @foreach (var item in Model.Vide)
        {
            item.ResourcesName = item.ResourcesName + item.ResourcesType;
            string videurl = "/MeetingInfo/MaterialVide?ResourcesType=" + item.ResourcesType +
                "&Directory=" + item.Directory + "&ResourceName=" + item.ResourcesName + "&MeetingId=" + item.MeetingIssueId;
            <li class="material-ul-li">
                <div class="material-li-img" onclick="clickUrl('@videurl')">
                    <img src="@Helper.GetImageUrl(item.ResourcesType)" />
                </div>
                <span style="display:block">@(item.ResourcesName)</span>
                <div class="home-li-btnDel" onclick="btnDel('@item.Id','@item.Directory','@item.ResourcesName')">删除</div>
            </li>           
        }
    </ul>

<script type="text/javascript">
    function clickUrl(url) {
        lhgdialog.masklayer('loading.gif');
        location.href = url;
        lhgdialog.masklayer();
    }

    function btnDel(id,directory,filename) {
    $.post('/MeetingInfo/DelResource',
    {
        Id: id,
        Directory: directory,
        filename: filename
    }, function (data) {
        if (data.Result == 0)
            location.href = "/MeetingInfo/MaterialInfo?MeetingId=" + directory;
        mh_dialogShow('mh_success', data.Msg, 1, true);
    });
    }
</script>