@model  Tuple<int, string>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>

@if (Model.Item1 == 1)
{
    @*<object id="DSOFramer" style="left: 0px; width: 100%;height: 100%" classid="clsid:00460182-9E5E-11D5-B7C8-B8269041DD57" codebase="DSOFramer.ocx#Version=2,3,0,1">
        <param name="BorderStyle" value="1">
        <param name="TitlebarColor" value="52479">
        <param name="TitlebarTextColor" value="0">
        <param name="Menubar" value="1">
    </object>

    <script type="text/javascript">
        $(document).ready(function () {
            document.all.DSOFramer.Open(encodeURI("@Model.Item2"), false, "Word.Document");
        });
    </script>*@
    <iframe style="width:100%;height:500px;border-width: 0px;margin:0 auto;" src="@(Model.Item2)" id="iframe"></iframe>
}
else if (Model.Item1 == 2)
{
    <div class="image-div">
        <img src="@Model.Item2" class="image-div-img" />
    </div>
}
else if (Model.Item1 == 3 || Model.Item1 == 4)
{
    <object classid="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6" width="100%" height="500" >
        <param name="autostart" value="0" /><param name="url" value="@Model.Item2" />
        <embed src="@Model.Item2" autostart="0" type="video/x-ms-wmv" width="100%" height="400" style="margin:0 auto;"></embed>
    </object>
}


