@using Meeting.Entity
@using Meeting.Web.Api.Models
@model MeetingRecord
@{
    TitleViewModel viewmodel = ViewBag.TitleViewModel;
}
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>会议记录</title>
    <style type="text/css">
    </style>
    <link href="~/css/main.css" rel="stylesheet" />

    <link href="~/Scripts/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/css/chosen.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>

    <script src="~/Scripts/lhgdialog/lhgdialog.min.js"></script>
    <script src="~/Scripts/lhgdialog/jquery.dialog.plugin.js"></script>
    <script src="~/mh_dialog/mh_dialog.js"></script>

    <link href="~/Scripts/wangEditor/dist/css/wangEditor.min.css" rel="stylesheet" />

</head>
<body>
    <div class="home">

        <!--layout-top-->
        <div class="layout-top">

            <ul class="layout-top-ul">
                <li class="home-li-font">@viewmodel.TopTitle</li>
            </ul>

            <ul class="home-top-ulbtn">
                <li class="ulbtn-btn">
                    <div class="home-li-button" onclick="retrunBtn('@viewmodel.RerurnButton')">返回</div>
                </li>
                <li class="ulbtn-btn">
                    <div class="home-li-button" id="refresh">刷新</div>
                </li>
                <li class="ulbtn-btn">
                    <div class="home-li-button2" id="recordSave">保存</div>
                </li>
                <li class="ulbtn-btn">
                    <div class="home-li-button2" id="preview">打印预览</div>
                </li>
            </ul>

        </div>
        <!--/layout-top-->

        <div class="layou-info-top">
            <font class="layou-info-font">会议信息</font>
        </div>

        <ul class="create-meeting-ul">
            <li class="create-meeting-li">
                会议名称:
                检委会<input type="text" class="create-meeting-text" id="year" value="@Model.Year" />年
                第<input type="text" class="create-meeting-text" id="count" value="@Model.Num" />次
                总第<input type="text" class="create-meeting-text" id="numcount" value="@Model.TotalNum" />次会议
            </li>
            <li class="create-meeting-li">
                计划开始时间  <input type="text" class="create-meeting-date" id="datetimepicker1" value="@Model.StartDate" />
                <span style="margin-left:62px;"></span>
                计划结束时间  <input type="text" class="create-meeting-date" id="datetimepicker2" value="@Model.EendDate" />
            </li>
        </ul>
        <ul class="create-meeting-ul">
            <li class="create-meeting-li">
                会议地点:
                <input type="text" class="create-meeting-address" id="address" value="@Model.MeetingAddress" />
            </li>
            <li class="create-meeting-li">
                主持人
                <select class="create-meeting-com" id="hoseUser">
                    @foreach (var item in Model.UserList)
                    {
                        if (item.Id == Model.MeetingHost)
                        {
                            <option id="@item.Id" selected="selected">@item.NickName</option>
                        }
                        else
                        {
                            <option id="@item.Id">@item.NickName</option>
                        }
                    }
                </select>
                <span style="margin-left:20px;"></span>
                记录员
                <select class="create-meeting-com" id="recorder">
                    @foreach (var item in Model.UserList)
                    {
                        if (item.Id == Model.MeetingDocument)
                        {
                            <option id="@item.Id" selected="selected">@item.NickName</option>
                        }
                        else
                        {
                            <option id="@item.Id">@item.NickName</option>
                        }
                    }
                </select>
                <span style="margin-left:20px;"></span>
                秘书
                <select class="create-meeting-com" id="secretary">
                    @foreach (var item in Model.UserList)
                    {
                        if (item.Id == Model.MeetingSecretary)
                        {
                            <option id="@item.Id" selected="selected">@item.NickName</option>
                        }
                        else
                        {
                            <option id="@item.Id">@item.NickName</option>
                        }
                    }
                </select>
            </li>
        </ul>
        <ul class="create-meeting-ul">
            <li class="create-meeting-li">
                参会委员:
                <select data-placeholder="请选择..." class="chosen-select" multiple style="width:850px; height:30px;" tabindex="4" id="meetingPeople">
                    @foreach (var item in Model.UserList)
                    {
                        <option value="@item.Id">@item.NickName</option>
                    }
                </select>
            </li>
        </ul>
        <ul class="create-meeting-ul">
            <li class="create-meeting-li">
                请假人员:
                <select data-placeholder="请选择..." class="chosen-select" multiple style="width:850px; height:30px;" tabindex="4" id="leavePeople">
                    @foreach (var item in Model.UserList)
                    {
                        <option value="@item.Id">@item.NickName</option>
                    }
                </select>
            </li>
        </ul>
        <ul class="create-meeting-ul">
            <li class="create-meeting-li">
                列席人员:
                <select data-placeholder="请选择..." class="chosen-select" multiple style="width:850px; height:30px;" tabindex="4" id="attendPeople">
                    @foreach (var item in Model.UserList)
                    {
                        <option value="@item.Id">@item.NickName</option>
                    }
                </select>
            </li>
        </ul>
        <input type="hidden" name="committee" value="@Model.PeopleName" />
        <input type="hidden" name="leave" value="@Model.LeavePeople" />
        <input type="hidden" name="attend" value="@Model.AttendPeople" />
        <input type="hidden" name="meetingId" value="@Model.MeetingId" />


        <div class="layou-info-top">
            <font class="layou-info-font">会议议题</font>
        </div>

        <div class="layou-div-title">
            <ul class="layou-div-ul">
                <li class="layou-ul-li1">序号</li>
                <li class="create-ul-li2">议题名称</li>
                <li class="layou-ul-li3">申请部门</li>
                <li class="layou-ul-li4">汇报人</li>
            </ul>
        </div>


        <div class="create-div-content1">
            <ul class="layou-div-ul">
                <li class="layou-ul-li1">
                    <input class="create-li-text1" value="1" />

                </li>
                <li class="create-ul-li2">
                    <input class="create-li-text2" value="@Model.IssueName" id="issue" />
                </li>
                <li class="layou-ul-li3">
                    @*<select class="create-li-text3" id="depart">
                        @foreach (var item in Model.DepartList)
                        {
                            if (item.Id == Model.DepartId)
                            {
                                <option id="@item.Id" selected="selected">@item.DepartName</option>
                            }
                            else
                            {
                                <option id="@item.Id">@item.DepartName</option>
                            }

                        }
                    </select>*@
                    <input class="create-li-text4" value="@Model.DepartName" id="newDepartName" />
                </li>
                <li class="layou-ul-li4">
                    <select class="create-li-text3" id="report">
                        @foreach (var item in Model.UserList)
                        {
                            if (item.Id == Model.RepostUser)
                            {
                                <option id="@item.Id" selected="selected">@item.NickName</option>
                            }
                            else
                            {
                                <option id="@item.Id">@item.NickName</option>
                            }
                        }
                    </select>
                </li>
            </ul>
        </div>

        <div style="width: 1004px; margin: 5px 10px 0 10px;">
            <!--用当前元素来控制高度-->
            <div id="editor" style="min-height: 200px;">
                @if (Model.MeetingRecordInfo != null)
                {
                    @Html.Raw(Model.MeetingRecordInfo.MeetingRecorder);
                }
                else
                {
                    <p>请输入内容...</p>
                }

            </div>
        </div>

        <div class="layou-info-top">
            <font class="layou-info-font">审批内容</font>
        </div>

        <div style="margin-bottom:10px;" id="operation">
            @if (Model.MeetingOpinion != null)
            {
                foreach (var item in Model.MeetingOpinion)
                {
                    string msg = "";
                    if (item.OpinionAction == 0)
                    {
                        msg = "未处理";
                    }
                    else if (item.OpinionAction == 1)
                    {
                        msg = "同意";
                    }
                    else
                    {
                        msg = "不同意";
                    }

                    <div style="margin: 5px 10px 0 10px;">
                        <div style="display: inline-block; width:100px;">委员：@item.UserName</div>
                        <div style="display: inline-block; padding-left:15px;">审批意见：@msg</div>
                        <textarea style="width:980px;height:120px;" disabled="disabled">@item.OpinionMsg</textarea>
                    </div>
                }
            }
        </div>

    </div>


    <script src="~/Scripts/datetimepicker/jquery.js"></script>
    <script src="~/Scripts/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/MeetingRecord.js"></script>
    <script src="~/Scripts/wangEditor/dist/js/wangEditor.js"></script>
</body>
</html>