@model Meeting.Entity.CreateMeetingModel
@{

}
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>创建会议</title>
    <style type="text/css">
    </style>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/Scripts/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />

    <link href="~/css/chosen.css" rel="stylesheet" />

    <script src="~/mh_dialog/mh_dialog.js"></script>
</head>
<body>


    <div class="home">

        <!--layout-top-->
        <div class="layout-top">

            <ul class="layout-top-ul">
                <li class="home-li-font"></li>
            </ul>

            <ul class="home-top-ulbtn">
                <li class="ulbtn-btn">
                    <div class="home-li-button" onclick="returnTop()">返回</div>
                </li>
                <li class="ulbtn-btn">
                    <div class="home-li-button" onclick="PostCreateMeeting()">保存</div>
                </li>
            </ul>

        </div>
        <!--/layout-top-->

        <div class="layou-info-top">
            <font class="layou-info-font">会议信息</font>
        </div>

        <ul class="create-meeting-ul">
            <li class="create-meeting-li">
                会议名称:
                检委会<input type="text" class="create-meeting-text" id="year" />年
                第<input type="text" class="create-meeting-text" id="count" />次
                总第<input type="text" class="create-meeting-text" id="numcount" />次会议
            </li>
            <li class="create-meeting-li">
                计划开始时间  <input type="text" class="create-meeting-date" id="datetimepicker1" />
                <span style="margin-left:62px;"></span>
                计划结束时间  <input type="text" class="create-meeting-date" id="datetimepicker2" />
            </li>
        </ul>
        <ul class="create-meeting-ul">
            <li class="create-meeting-li">
                会议地点:
                <input type="text" class="create-meeting-address" id="address" />
            </li>
            <li class="create-meeting-li">
                主持人
                <select class="create-meeting-com" id="hoseUser">
                    @foreach (var item in Model.UserList)
                    {
                        <option id="@item.Id">@item.NickName</option>
                    }
                </select>
                <span style="margin-left:20px;"></span>
                文书
                <select class="create-meeting-com" id="wenshu">
                    @foreach (var item in Model.UserList)
                    {
                        <option id="@item.Id">@item.NickName</option>
                    }
                </select>
                <span style="margin-left:20px;"></span>
                秘书
                <select class="create-meeting-com" id="secretary">
                    @foreach (var item in Model.UserList)
                    {
                        <option id="@item.Id">@item.NickName</option>
                    }
                </select>
            </li>
        </ul>
        <ul class="create-meeting-ul">
            <li class="create-meeting-li">
                参会委员:
                <select data-placeholder="请选择..." class="chosen-select" multiple style="width:850px; height:30px;" tabindex="4">
                    @foreach (var item in Model.UserList)
                    {
                        <option value="@item.Id">@item.NickName</option>
                    }
                </select>
            </li>
        </ul>

        <div class="layou-info-top">
            <font class="layou-info-font">会议议题</font>
        </div>


        <div class="layou-div-title">
            <ul class="layou-div-ul">
                <li class="layou-ul-li1">序号</li>
                <li class="create-ul-li2">议题名称</li>
                <li class="layou-ul-li3">申请部门</li>
                <li class="layou-ul-li4">汇报人</li>
                <li class="create-ul-li5">操作</li>
            </ul>
        </div>


        <div class="create-div-content">
            <ul class="layou-div-ul">
                <li class="layou-ul-li1">
                    <input class="create-li-text1" value="1" />

                </li>
                <li class="create-ul-li2">
                    <input class="create-li-text2" value="" id="issue" />
                </li>
                <li class="layou-ul-li3">
                    <select class="create-li-text3" id="depart">
                        @foreach (var item in Model.DepartList)
                        {
                            <option id="@item.Id">@item.DepartName</option>
                        }
                    </select>
                </li>
                <li class="layou-ul-li4">
                    <select class="create-li-text3" id="report">
                        @foreach (var item in Model.UserList)
                        {
                            <option id="@item.Id">@item.NickName</option>
                        }
                    </select>
                </li>
                <li class="create-ul-li5">
                    <input type="file" name="file_upload" id="file_upload" />
                </li>
            </ul>
            <div class="create-div">
                <ul class="layou-div-ul" id="imgul" style="overflow: scroll; overflow-x: hidden; height: 150px;width:1000px;"></ul>
            </div>
        </div>

    </div>

    <script src="~/Scripts/datetimepicker/jquery.js"></script>
    <script src="~/Scripts/datetimepicker/jquery.datetimepicker.full.min.js"></script>

    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/prism.js"></script>

    <script src="~/Scripts/uploadify/jquery.uploadify.js"></script>


    <script src="~/Scripts/lhgdialog/lhgdialog.min.js"></script>
    <script src="~/Scripts/lhgdialog/jquery.dialog.plugin.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var myDate = new Date();

            $('#datetimepicker1').datetimepicker({
                dayOfWeekStart: 1,
                lang: 'en',
                disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
                startDate: '2016/01/05'
            });

            $('#datetimepicker2').datetimepicker({
                dayOfWeekStart: 1,
                lang: 'en',
                disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
                startDate: '2016/01/05'
            });

            $('#datetimepicker1').datetimepicker({ value: myDate.toLocaleTimeString(), step: 10 });
            $('#datetimepicker2').datetimepicker({ value: myDate.toLocaleTimeString(), step: 10 });

            $('#file_upload').uploadify({
                'swf': '/Scripts/uploadify/uploadify.swf',
                'uploader': '/Upload/Index',
                'onUploadStart': function (file) {
                    var htmlString = '<li class="create-ul-li"><div class="create-li-img">';
                    if (file.type == '.txt' || file.type == '.doc' || file.type == '.docx') {
                        htmlString += '<img src="/Images/文本资料.png" /></div>';
                    } else if (file.type == '.png' || file.type == '.jpg' || file.type == '.gif' || file.type == '.gif') {
                        htmlString += '<img src="/Images/图片资料.png" /></div>';
                    } else if (file.type == '.mp4' || file.type == '.wmv' || file.type == '.amv') {
                        htmlString += '<img src="/Images/视频资料.png" /></div>';
                    } else if (file.type == '.mp3') {
                        htmlString += '<img src="/Images/音频资料.png" /></div>';
                    } else {
                        htmlString += '<img src="/Images/文本资料.png" /></div>';
                    }

                    htmlString += '<div class="create-li-btnDel" onclick="CreateDel(this,\''+ file.name +'\')">删除</div>';
                    htmlString += '<span style="display: inline-block;">' + file.name + '</span></li>';

                    $("#imgul").append(htmlString);
                    lhgdialog.masklayer();
                }
            });

            $('#file_upload-button').removeClass("uploadify-button");
            $("#file_upload-button").removeAttr("style");
            $('#file_upload-button').addClass("create-button2");
        })

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        function returnTop() {
            location.href = "/Home/Index?pageindex=" + 1;
        }


        function CreateDel(Id, name) {
            lhgdialog.masklayer('loading.gif');
            $.post('/MeetingInfo/DelCreate',
               {
                   filename: name
               }, function (data) {
                   if (data.Result == 0) {
                       $(Id).parent().remove();
                   }
                   mh_dialogShow('mh_success', data.Msg, 1, true);
                   lhgdialog.masklayer();
               });
        }


        function PostCreateMeeting() {
            var model = new Object();
            model.year = $("#year").val();
            model.count = $("#count").val();
            model.numcount = $("#numcount").val();
            model.datetimepicker1 = $("#datetimepicker1").val();
            model.datetimepicker2 = $("#datetimepicker2").val();


            var begin = new Date(model.datetimepicker1.replace(/-/g, "/"));
            var end = new Date(model.datetimepicker2.replace(/-/g, "/"));
            //js判断日期
            if (begin - end > 0) {
                alert("开始日期不能大于结束日期!");
                return false;
            }


            model.address = $("#address").val();
            model.hoseUser = $("#hoseUser").find("option:selected").attr("id");
            model.wenshu = $("#wenshu").find("option:selected").attr("id");
            model.secretary = $("#secretary").find("option:selected").attr("id");

            model.people = "";
            $('.search-choice').each(function (i, data) {
                model.people = model.people + $(this).attr("data-value") + ",";
            });

            model.filearray = "";
            $('.create-ul-li').each(function (i, data) {
                model.filearray = model.filearray + $(this).text().replace('删除','') + ",";
            });

            model.issue = $("#issue").val();
            model.depart = $("#depart").find("option:selected").attr("id");
            model.report = $("#report").find("option:selected").attr("id");

            //var s = console.log(JSON.stringify(model));

            lhgdialog.masklayer('loading.gif');
            $.post('/MeetingInfo/MeetingCreate',
                {
                    json: JSON.stringify(model)
                }, function (data) {
                    if (data.Result == 0)
                        location.href = "/Home/Index?pageindex=" + 1;
                    mh_dialogShow('mh_success', data.Msg, 1, true);
                    lhgdialog.masklayer();
                });
        }
    </script>
</body>
</html>